$mainColor: #1F385E;
// $mainColor: #0375C5;
$secondaryColor: #0966A7;
$mainBack: #14161D;
$navColor: #1A2634;
$mainTextColor: #D0D2D6;
$secondaryTextColor: #B0B3B8;

$width: 768px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
}